.app {
  background-color: #f2f2f2;
  width: 575px;
  height: 789px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  ;
}
.mainContainer {
  background-color: #ffffff;
  width: 375px;
  height: 789px;
  margin-top: 144px;
  margin-left: 32px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
}
.billDiv{
  margin-top: 32px;
 
  
}
.billTittle {
  width: 47px;
  height: 24px;
  font-family: spaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}
.buttonWrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
}
.inputBox {
  /* margin-top: 6px; */
  width: 311px;
  height: 48px;
  font-display: flex;
  background-color:#F3F9FA ;
 
}
/* .inputIcon{
  position: relative;
}
.inputIcon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
} */
/* .inputIcon > input {
  padding-left: 25px;
  padding-right: 0;
} */
.tipBox {
  width: 140px;
  height: 24px;
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
  margin-top: 32px;
}
.tipButton {
  width: 150px;
  height: 48px;
  border-radius: 5px;
  z-index: 2;
}
.customBox{
  width: 140px;
  height: 42px;
  border-radius: 5px;
  background-color: #547878;

}
.peopleTitle {
  width: 186px;
  height: 24px;
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
  margin-top: 38px;
}
.tipAmountDiv {
  width: 327px;
  height: 257px;
  border-radius: 15px;
  background-color: #00474b;
  padding-top: 20px;
  margin-top: 32px;
  margin-left: 24px;
}
h4 {
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
p {
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  color: #7f9d9f;
}
.resetButton {
  width: 281px;
  height: 48px;
  border-radius: 5px;
  background-color: #26c2ae;
}
