body{
  font-family: SpaceMono ;
  
}
.app {
  background-color: #C5E4E7;
  width: 375px;
  height: 933px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px
  ;
}
.mainContainer {
  background-color: #ffffff;
  width: 375px;
  height:880px;
  margin-top: 40px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  /* align-content: flex-start; */
}
.billDiv{
  display: flex;
  padding-top: 32px;
  padding-left: 32px;

}

.billTitle{
  width: 47px;
  height: 24px;
  color: #5E7A7D;
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
}
.inputBox{
  width: 311px;
  height: 48px;
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  background-color: #F3F9FA;
}

/* buttons */
.buttonWrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 38px;
}
.tipBox {
  width: 140px;
  height: 24px;
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
  margin-top: 32px;
  margin-bottom: 16px;
}
.tipButton {
  width: 150px;
  height: 48px;
  border-radius: 5px;
  z-index: 2;
}
.customBox{
  width: 140px;
  height: 42px;
  border-radius: 5px;
  background-color: #F3F9FA;
  color: #547878;
}
::placeholder{
  text-align: right;
  font-family: SpaceMono;
  font-weight: 700px;
  line-height: 36px;
  font-size: 24px;
}
/*Number of  People */
.peopleTitle {
  width: 186px;
  height: 24px;
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
   
}
.peopleContainer{
  margin-left: 32px;
}
.peopleWrapper{
  text-align: left;
  font-family: SpaceMono;
}
.inputIcon{
  position: relative;
}
.icon {
  width: 311px;
  height: 48px;
  background-color:#F3F9FA ;
  /* position: absolute;
   margin-top: 50%;
  margin-left:2px;
  transform: translate(-50%);  */
 
}
/* tipAmount */
.tipAmountContainer {
  width: 327px;
  height: 257px;
  border-radius: 15px;
  background-color: #00474b;
  padding-top: 20px;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;
}
.tipResult,.totalResult{
  display: flex;
}

p {
  font-family: SpaceMono;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  color: #7f9d9f;
}
.resetButton {
  width: 281px;
  height: 48px;
  border-radius: 5px;
  background-color: #26c2ae;
  margin-bottom: 33px;
}
